:root {
  --primary: #0074d9;
  --primary-hover: #0066be;
  --primary-faded: #0074d922;
  --body-bg: #fff;
  --checked-bg: #00000011;
  --overlay-bg: #00000033;
  --font-color: #111;
  --font-family: 'Nunito', sans-serif;
  --red: #ff4136;
  --secondary-btn-color: #00000088;
  --secondary-btn-hover-bg: #00000008;
  --input-background: #00000044;
  --zid-header: 100;
  --zid-add-button: 115;
  --zid-overlay-bg: 120;
  --zid-overlay-confirm: 130;
  --zid-overlay-addtodo: 125;
}

/* 
 *  GENERAL
 */
* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

body {
  background-color: var(--body-bg);
  color: var(--font-color);
}

button {
  cursor: pointer;
}

/* 
 *  HEADER
 */
header {
  background-color: var(--primary);
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: var(--zid-header);
}

.header-container {
  display: flex;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
  padding: 15px 20px;
}

.logo {
  margin-right: 15px;
}

/* 
 *  MAIN
 */
main {
  padding: 90px 20px 40px;
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}

.clear-list {
  background-color: transparent;
  border: none;
  font-weight: 700;
  padding: 18px 24px;
  border-radius: 26px;
  display: block;
  margin: 0 auto 200px;
  color: var(--secondary-btn-color);
  transition: box-shadow 0.2s, transform 0.2s;
  box-shadow: 1px 1px 3px #00000022, 1px 1px 9px #00000022;
}

.clear-list:hover {
  box-shadow: 1px 1px 3px #00000033, 1px 1px 9px #00000033;
}

.clear-list:active {
  box-shadow: 1px 1px 3px #00000033, 1px 1px 9px #00000033;
  transform: scale(0.9);
}

main:empty::before {
  content: 'Nothing to do 🤷‍♂️';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 180px;
}

main:empty + .clear-list {
  display: none;
}

/* 
 *  TODOS
 */
main > article + article {
  margin-top: 10px;
}

article {
  border-radius: 6px;
  display: flex;
  align-items: center;
  position: relative;
}

.todo-checked {
  background-color: var(--checked-bg);
}

.todo-unchecked {
  background-color: var(--primary-faded);
}

.todo-icon {
  margin: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--body-bg);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.todo-unchecked .todo-icon img {
  opacity: 0;
  transition: opacity 0.2s;
}

.todo-unchecked .todo-icon:hover img {
  opacity: 0.2;
}

.todo-checked .todo-icon img {
  transition: opacity 0.2s;
}

.todo-checked .todo-icon:hover img {
  opacity: 0.5;
}

.todo-description {
  flex: 1;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  transition: opacity 0.2s, color 0.2s;
  overflow: hidden;
  word-break: break-word;
}

.todo-unchecked .todo-description:hover {
  opacity: 0.6;
}

.todo-checked .todo-description {
  opacity: 0.6;
  text-decoration: line-through;
}

.todo-checked .todo-description:hover {
  color: var(--red);
}

.expand {
  padding-bottom: 50px;
}

.trash-icon {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--body-bg);
  display: none;
  place-items: center;
  cursor: pointer;
}

.expand .trash-icon {
  display: grid;
}

article input {
  flex: 1;
  margin: 15px;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  padding: 4px;
  border: none;
  background-color: transparent;
  border-bottom: solid 2px var(--primary);
  font-size: 0.9rem;
}

article button {
  margin: 15px 15px 15px 0;
  font-weight: 700;
  line-height: 1.5;
  padding: 5px 8px;
  background-color: var(--primary);
  color: var(--body-bg);
  border: none;
  border-radius: 6px;
  transition: background-color 0.2s, transform 0.2s;
}

article button:hover {
  background-color: var(--primary-hover);
}

article button:active {
  background-color: var(--primary-hover);
  transform: scale(0.9);
}

/* 
 *  BOTTOM BUTTON
 */
.add-todo {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 3px #00000022, 1px 2px 9px #00000022;
  transition: transform 0.2s, background-color 0.2s;
  z-index: var(--zid-add-button);
}

.add-todo:hover {
  background-color: var(--primary-hover);
}

.add-todo:active {
  transform: translateX(-50%) scale(0.9);
}

/* 
 *  OVERLAY
 */
.overlay-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--overlay-bg);
  z-index: var(--zid-overlay-bg);
  transition: opacity 0.3s;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  padding: 20px;
  z-index: var(--zid-overlay-addtodo);
}

.cancel-overlay {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 3px #00000022, 1px 2px 9px #00000022;
  transition: transform 0.2s, opacity 0.2s;
}

.cancel-overlay:hover {
  opacity: 0.8;
}

.cancel-overlay:active {
  transform: translateX(-50%) scale(0.9);
}

.overlay-form {
  margin: 0 auto;
  max-width: 400px;
}

.overlay-form h2 {
  color: var(--body-bg);
  font-weight: 700;
  font-size: 2rem;
  margin: 0 4px 15px;
  text-align: center;
}

.overlay label {
  display: block;
  font-weight: 700;
  color: var(--body-bg);
  margin-bottom: 8px;
  margin-left: 4px;
  font-size: 0.9rem;
  opacity: 0.7;
}

#overlay-input {
  width: 100%;
  margin-bottom: 20px;
  font-family: var(--font-family);
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  resize: none;
  background-color: var(--input-background);
  color: var(--body-bg);
  line-height: 1.8;
  font-size: 1rem;
  box-shadow: inset 1px 1px 3px #00000033, inset 1px 1px 9px #00000033;
}

.submit-overlay {
  margin: 0 auto;
  display: block;
  border: none;
  background-color: var(--body-bg);
  padding: 20px 36px;
  border-radius: 6px;
  font-weight: 700;
  transition: transform 0.2s, opacity 0.2s;
}

.submit-overlay:hover {
  opacity: 0.6;
}

.submit-overlay:active {
  opacity: 0.6;
  transform: scale(0.9);
}

/* 
 *  CLEAR LIST
 */

.confirm-dialog {
  background-color: var(--primary);
  border-radius: 6px;
  padding: 30px;
  min-width: 200px;
  box-shadow: 1px 2px 3px #00000022, 1px 2px 9px #00000022;
  transition: opacity 0.3s;
  z-index: var(--zid-overlay-confirm);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-dialog p {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.confirm-delete {
  border: none;
  background-color: var(--body-bg);
  color: var(--primary);
  padding: 18px 32px;
  border-radius: 6px;
  font-weight: 700;
  transition: transform 0.2s, opacity 0.2s;
}

.confirm-delete:hover {
  opacity: 0.7;
}

.confirm-delete:active {
  opacity: 0.7;
  transform: scale(0.9);
}

.cancel-delete {
  border: none;
  background-color: var(--primary);
  color: var(--body-bg);
  padding: 18px 32px;
  border-radius: 6px;
  font-weight: 700;
  transition: transform 0.2s, background-color 0.2s;
  margin-left: 10px;
}

.cancel-delete:hover {
  background-color: var(--primary-hover);
}

.cancel-delete:active {
  background-color: var(--primary-hover);
  transform: scale(0.9);
}

/* 
 *  HIDE CLASSES
 */
.slide-down {
  opacity: 0 !important;
  pointer-events: none !important;
}

.opacity-zero {
  opacity: 0 !important;
  pointer-events: none !important;
}
